.flex{
    display: flex;
    margin-left: 80px;
    margin-top: 40px;
    padding-top: 30px;
}
.flex-child{
    padding-right: 15px;
}
.flex-child-img{
    padding-left: 37px;
}
h4{
    padding-left: 40px;
}
li{
    list-style: none;
    color: #696b79;
    font-size: 20px;
}
#google-play-button>img{

    height: 61px;
}
.social-media{
    padding-left: 40px;
}
.social-media>img{
    width:30px;
    height:30px;
}
{
    border: 1px solid green;
}