 #carousel>img{
    margin-top:90px ;
    width:100% ;
 }
    .card-9{
        display: flex;
        width:auto;
    }
    .card-9>img{
        width: 11.11%;  
    }
    h2{
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 40px;
        font-size: 40px;
    }
.img-grid-8{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
} 
.img-grid-8>img{
   width: 97%;
   height: auto;
}   
.img-grid-8_1{
    display: grid;
    grid-template-columns: repeat(8,1fr);
 } 
 .img-grid-8_1>img{
    width: 100%;
 }
.card-7{
   display: flex;
   height: auto;
}  
.card-7>img{
  width: 14.28%;
}
.img-grid-7{
    display: grid;
    grid-template-columns: repeat(7,1fr);
} 
.img-grid-7>img{
    width: 100%;
 
}
.img-grid-6{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.img-grid-6>img{
    width: 100%;
}
.img-grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 }  
 .img-grid-4>img{
   width: 100%;
 }